<div class="container">
    {{#each usuarios}}   
    <div class="row">
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
           Detalles de Usuario 
        </div>
        <div class="card-body">
            <form action="/usuarios/edit/{{id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="fullname" class="form-control" value="{{fullname}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="correo" class="form-control" value="{{correo}}">
                </div>
                <div class="form-group">
                    <select name="rom" class="form-control">
                        <option value="{{rom}}" selected>Mantener Rom</option>
                        {{/each}}
                        {{#each rom_opcion}}
                        <option value="id_rom">{{nom_rom}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
        
</div>         